header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

nav {
	width: fit-content;
	background-color: var(--bg-color);
	/* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
	padding: 10px 30px;
	margin: 10px auto;
	align-items: center;
	border-radius: 20px;
}

.nav-items {
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
}

.nav-item {
	margin: 0 20px;
}

.nav-item a {
	text-decoration: none;
	color: var(--text-color);
	transition: 0.2s all ease-in-out;
}

.nav-item.active a {
	color: var(--bold-text-color);
	font-weight: 500;
}

.nav-item a:hover {
	color: var(--bold-text-color);
}
