$text: #0a0f0c;
$text-gradient: linear-gradient(90deg, #645478 0%, #41342c 99% 99%);
$text-secondary: #595959;
$text-tertiary: #0c0c0c;
$background: #e2e9e4;
$primary: #645478;
$secondary: #dcdedc;
$accent: #41342c;

$text-dark: #a3a3a3;
$text-dark2: #e8ebe9;
$text-dark-secondary: #e7e4e4;
$text-gradient-dark: linear-gradient(90deg, #645478 0%, #a09d9b 100%);
$background-dark: #0a0f0c;
$primary-dark: #645478;
$primary-muted-dark: #181a1c;
$secondary-dark: #181a1c;
// $secondary-dark: #17211b;
$accent-dark: #9b7d6b;
