@use "./colors" as colors;

.about-grid {
	padding: 20px;
	display: grid;
	grid-template-columns: repeat(4, minmax(50px, 1fr));
	gap: 12px;
	box-sizing: border-box;
	max-width: 1100px;
	margin: 20px auto;
	width: 100%;
}

.about-card {
	background-color: var(--card-color);
	border-radius: 20px;
	padding: 20px;
	position: relative;
	overflow: hidden;
	min-height: 250px;
	border: 1px solid var(--border-color);
	z-index: 99;

	// &::before {
	// 	content: "";
	// 	background-color: transparent;
	// 	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 600'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'/%3E%3C/svg%3E");
	// 	background-repeat: repeat;
	// 	//   background-size: 182px;
	// 	opacity: 0.2;
	// 	top: 0;
	// 	left: 0;
	// 	position: absolute;
	// 	width: 100%;
	// 	height: 100%;
	// }
}

.who-am-i-card {
	grid-column: span 2;
	grid-row: span 2;
}

.hobbies-card {
	grid-column: span 2;
}

.card.about-stack {
	grid-column: span 1;
}

.who-header {
	font-size: 1.8rem;
	margin: 5px 0;
}

.about-text {
	font-size: 1.12rem;
	line-height: 1.5;
	font-weight: 500;

	&.tools {
		margin: 2px 0;
	}
}

.hobbies-card {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	position: relative;
}

.swiper-viewport {
	width: 100%;
	overflow: hidden;
	flex-grow: 1;
	position: relative;
}

.swiper-track {
	display: flex;
	height: 100%;
	width: 100%;
	cursor: grab;

	&:active {
		cursor: grabbing;
	}
}

.swiper-slide {
	min-width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.content-card {
	// background-color: rgba(255, 255, 255, 0.05);
	border-radius: 10px;
}

.swiper-dots {
	display: flex;
	justify-content: center;
	gap: 0.5rem;
	// margin-top: 0.5rem;
	// padding-bottom: 0.5rem;
}

.swiper-dot {
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: var(--border-color);
	border: none;
	padding: 0;
	cursor: pointer;
	transition: background-color 0.3s ease, transform 0.2s ease;
}

.swiper-dot.active {
	background-color: var(--text-muted-color);
	transform: scale(1.2);
}

.about-contact-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	p {
		margin: 5px 0;
	}
}

@media only screen and (max-width: 1000px) {
	.about-grid {
		grid-template-columns: repeat(2, minmax(50px, 1fr));
	}
}

@media only screen and (max-width: 520px) {
	.card.about-stack {
		grid-column: span 2;
	}

	.about-contact-card {
		grid-column: span 2;
	}
}
