@use "./colors" as colors;

.card {
	background-color: colors.$card-light;
	border-radius: 20px;
	padding: 20px;
	position: relative;
	overflow: hidden;
	min-height: 250px;
	border: 2px solid colors.$border-light;
	grid-column: span 2;
	z-index: 99;
}

button.card,
button.end-card {
	text-align: left;
	display: grid;
	align-items: start;
}

.card:before,
.half-card::before,
.one-half-span-card::before,
.end-card::before {
	content: "";
	background-color: transparent;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 600'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'/%3E%3C/svg%3E");
	background-repeat: repeat;
	//   background-size: 182px;
	opacity: 0.2;
	top: 0;
	left: 0;
	position: absolute;
	width: 100%;
	height: 100%;
}

.main-card {
	grid-column: span 6;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	.top-half-card {
		display: flex;
		justify-content: start;
		align-items: end;
		gap: 10px;

		img {
			border-radius: 15px;
			// width: 30%;
			height: 120px;
			object-fit: contain;
		}

		h1 {
			margin: 0;
		}

		p {
			margin: 10px 0 0;

			span {
				font-weight: 500;
				color: colors.$text-muted-light;
			}
		}
	}

	.bottom-half-card {
		display: flex;
		justify-content: start;
		align-items: center;
		gap: 10px;
		img {
			width: 40px;
			filter: invert(52%) sepia(36%) saturate(253%) hue-rotate(176deg)
				brightness(89%) contrast(82%);
		}
	}
}

.half-card-container {
	min-height: 250px;
	display: flex;
	flex-direction: column;
	gap: 12px;
	grid-column: span 2;
}

.half-card,
.one-half-span-card {
	background-color: colors.$card-light;
	border-radius: 20px;
	padding: 20px;
	position: relative;
	overflow: hidden;
	border: 2px solid colors.$border-light;
	flex: 1 1 0px;
	display: flex;
	align-items: center;
	justify-content: center;

	.time {
		text-align: center;
	}
}

.span-card {
	grid-column: span 4;
}

.one-half-span-card-container,
.end-card-container {
	min-height: 250px;
	display: flex;
	flex-direction: column;
	gap: 12px;
	grid-column: span 3;
}

.end-card-container {
	grid-column: span 3;
}

.one-half-span-card.one-half-span-card {
	flex-direction: column;
	align-items: start;
	justify-content: start;

	h1,
	p {
		margin: 4px 0;
	}
}

.end-card {
	background-color: colors.$card-light;
	border-radius: 20px;
	padding: 20px;
	position: relative;
	overflow: hidden;
	border: 2px solid colors.$border-light;
	flex: 3;
}

.end-card-one {
	flex: 3;
	flex-direction: column;
	align-items: start;
	justify-content: start;
	// justify-content: center;
	gap: 5px;
	font-size: 1rem;
}

.end-card-two {
	flex: 1;
}

.contact-card {
	grid-column: span 3;
	display: flex;
	flex-direction: column;
	align-items: center;
	// justify-content: center;

	h1,
	p {
		margin: 5px 0;
	}
}

.main-card-header,
.time {
	font-family: "Lexend", sans-serif;
	font-size: 1.5rem;
	// color: colors.$text-muted-light;
	color: colors.$text-light;
	font-weight: 500;
}

.card-header {
	color: colors.$text-muted-light;
	font-weight: 500;
	font-size: 1.2rem;
	text-transform: uppercase;
}

.card-text {
	font-family: "Lexend", sans-serif;
	font-size: 1.4rem;
	color: colors.$text-light;
	font-weight: 500;
}

.hobby-list {
	display: flex;
	align-items: center;
	gap: 10px;

	img {
		width: 40px;
		filter: invert(52%) sepia(36%) saturate(253%) hue-rotate(176deg)
			brightness(89%) contrast(82%);
	}
}

.clickable {
	cursor: pointer;
	transition: box-shadow 0.2s ease-in-out;

	&:hover {
		box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

		.arrow-container {
			border-color: colors.$text-muted-light;

			img {
				transform: translate(4px, -4px);
			}
		}
	}
}

.arrow-container {
	position: absolute;
	border: 2px solid colors.$border-light;
	border-radius: 500px;
	width: 50px;
	height: 50px;
	padding: 5px;
	display: grid;
	place-content: center;
	transition: border 0.2s ease-in-out;

	&.small {
		width: 40px;
		height: 40px;
	}

	img {
		width: 100%;
		height: 100%;
		max-width: 30px;
		max-height: 30px;
		filter: invert(52%) sepia(36%) saturate(253%) hue-rotate(176deg)
			brightness(89%) contrast(82%);
		transition: transform 0.1s ease-in-out;
	}
}

.bottom-arrow {
	right: 20px;
	bottom: 20px;
}

.top-arrow {
	right: 20px;
	top: 20px;
}
