@use "./colors" as colors;

#checkbox {
	display: none;
}
.toggle {
	height: 53px;
	width: 133px;
	border-radius: 9999px;
	background: linear-gradient(to bottom, #6ec8ff, #1f73a7);
	position: relative;
	overflow: hidden;
	cursor: pointer;
	box-shadow: 4px 4px 7px #0000003d;
}
.mountains {
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 3;
	background-color: #1d7371;
	transition: all 0.5s ease-in-out;
	clip-path: polygon(
		0% 80%,
		25% 50%,
		40% 70%,
		60% 35%,
		65% 45%,
		80% 20%,
		100% 80%,
		100% 100%,
		0% 100%
	);
}
.cloud {
	height: 5px;
	width: 12px;
	border-radius: 9999px;
	background-color: rgb(255, 255, 255);
	position: absolute;
	top: 20%;
	left: 10%;
	filter: opacity(0.5);
}
.sea {
	height: 133px;
	width: 300%;
	border-radius: 50%;
	position: absolute;
	right: 50%;
	bottom: -500%;
	transform: translateX(50%);
	transition: all 0.5s ease-in-out;
	background: linear-gradient(
		to bottom,
		#3f75cc,
		#06063b,
		#06063b,
		#06063b,
		#06063b
	);
}
.sea::before {
	content: "";
	height: 17px;
	width: 10px;
	background-color: rgba(254, 254, 254, 0.34);
	filter: blur(3px);
	position: absolute;
	top: 2%;
	left: 43%;
}
.star {
	height: 1.5px;
	width: 1.5px;
	position: absolute;
	top: -50%;
	right: 15%;
	background-color: #fff;
	transition: all 0.5s ease-in-out;
	filter: blur(0.5px);
	border-radius: 50%;
}
.star::before {
	content: "";
	height: 100%;
	width: 100%;
	position: absolute;
	top: -50%;
	right: 13px;
	background-color: #fff;
	transition: all 0.5s ease-in-out;
	border-radius: 50%;
}

.star::after {
	content: "";
	height: 100%;
	width: 100%;
	position: absolute;
	top: 7px;
	right: -13px;
	background-color: #fff;
	transition: all 0.5s ease-in-out;
	border-radius: 50%;
}

.cloud::before {
	content: "";
	height: 7px;
	width: 7px;
	border-radius: 50%;
	background-color: rgb(255, 255, 255);
	position: absolute;
	top: -50%;
	right: 50%;
	transform: translateX(50%);
}

#checkbox:checked + .toggle {
	background: linear-gradient(to bottom, #036daf, #003d63);
}

.toggle::before {
	content: "";
	height: 27px;
	width: 27px;
	position: absolute;
	top: 10%;
	right: 30%;
	border-radius: 50%;
	background-color: #ffd34d;
	transition: all 0.5s ease-in-out;
	box-shadow: 0 0 10px #fef95fc3;
}

.toggle::after {
	content: "";
	height: 23px;
	width: 23px;
	position: absolute;
	top: 10%;
	left: -60%;
	border-radius: 50%;
	background-color: #ffffff;
	transition: all 0.5s ease-in-out;
	box-shadow: 0 0 7px #ffffff88;
}

#checkbox:checked + .toggle::before {
	transform: translateX(280%);
}

#checkbox:checked + .toggle::after {
	transform: translateX(480%);
}

#checkbox:checked + .toggle .mountains {
	background-color: #05021a;
	transform: translateY(100%);
}
#checkbox:checked + .toggle .sea {
	background-color: #05021a;
	bottom: -210%;
}
#checkbox:checked + .toggle .star {
	transform: rotate(10deg);
	top: 20%;
}

.card:has(.infinite-scroll-container) {
	display: flex;
	justify-content: center;
	flex-direction: column;

	h1 {
		margin-bottom: auto;
		justify-self: start;
	}
}

.infinite-scroll-container {
	display: flex;
	position: relative;
	overflow: hidden;
	width: 100%;
	mask-image: linear-gradient(
		to right,
		transparent,
		black 5%,
		black 95%,
		transparent
	);
	margin-bottom: auto;
}

.infinite-scroll {
	display: flex;
	flex: none;
	gap: 2rem;
	padding-right: 4rem;
}

.scroll-logo {
	height: 4rem;
	width: 4rem;
	flex: none;
}

.sparkle-icon {
	width: 45px;
}

.mail-btn {
	text-decoration: none;
	color: var(--text-color);
	margin-top: 10px;
	width: 200px;
	height: fit-content;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
	border-radius: 10px;
	border: 2px solid var(--border-color);
	background-color: var(--border-color);
	font-family: "Lexend", sans-serif;
	font-size: 1rem;
	img {
		filter: invert(52%) sepia(36%) saturate(253%) hue-rotate(176deg)
			brightness(89%) contrast(82%);
	}
}

.tag {
	font-family: "Lexend", sans-serif;
	font-size: 0.8rem;
	display: flex;
	align-items: center;
	gap: 2px;
	border-radius: 20px;
	background-color: var(--border-color);
	width: fit-content;
	padding: 3px 10px;

	img {
		width: 25px;
	}
}
