@use "./colors" as colors;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

* {
	font-family: "Montserrat", sans-serif;
	box-sizing: border-box;
	// outline: 2px solid green;

	// &::selection {
	// 	background: #c97b4e;
	// }
}

body {
	margin: 0 auto;
	padding: 0;
	background-color: colors.$bg-light;
	color: colors.$text-light;
	max-width: 1200px;
}

.content {
	margin: 20px;
	padding: 20px;
	border: 2px solid colors.$border-light;
	border-radius: 40px;
	display: grid;
	grid-template-columns: repeat(8, minmax(50px, 1fr));
	gap: 12px;
	box-sizing: border-box;
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Lexend", sans-serif;
	font-weight: 500;
	font-size: 0.9rem;
}
