@use "./colors" as colors;

.projects-container {
	width: 100%;
	position: relative;
	overflow: hidden;
}

.close-container {
	margin: 20px auto;
	width: 50px;
}

.close-button {
	width: 100%;
	border-radius: 1000px;
	padding: 5px 8px;
	border: 1px solid var(--border-color);
	background-color: transparent;

	img {
		width: 100%;
		height: 100%;
		filter: invert(52%) sepia(36%) saturate(253%) hue-rotate(176deg)
			brightness(89%) contrast(82%);
	}

	&:hover {
		background-color: var(--card-color);
	}
}

// ... existing code ...
.projects {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: start;
	gap: 20px;
	margin: 100px 20px 20px;
	width: 1100px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}
// ... existing code ...

.project {
	flex: 0 0 calc(50% - 40px);
	max-width: 530px;
	height: 500px;
	padding: 15px;
	position: relative;
	border: 1px solid var(--border-color);
	border-radius: 20px;
	overflow: hidden;
	background-color: var(--card-color);
	text-align: left;
	display: grid;
	align-items: start;
	text-decoration: none;
	margin: 0 10px 20px;

	&:hover {
		.project-img {
			scale: 1.1;
		}
	}

	.project-img-container {
		width: 100%;
		height: 355px;
		// height: 100%;
		border-radius: 15px;

		&.project-img-1 {
			background-color: #d3d4da;
		}

		&.project-img-2 {
			background-color: #b9b7b3;
		}

		&.project-img-3 {
			background-color: #c9d5db;
		}

		// &.project-img-1 {
		// 	background-color: #36393f;
		// }

		// &.project-img-2 {
		// 	background-color: #3f3e3c;
		// }

		// &.project-img-3 {
		// 	background-color: #3c4040;
		// }
	}

	.project-img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		transition: scale 0.45s ease-out;
		// max-width: 900px;
	}
}

.main-card-header.project-header {
	font-weight: 400;
}

.project-sub-header {
	font-size: 1rem;
	text-transform: uppercase;
	font-weight: 500;
	color: var(--text-muted-color);

	&.details {
		// margin: 5px 0;
	}
}

.project-container {
	width: 100%;
	padding: 20px;
}

.project-details {
	display: flex;
	align-items: stretch;
	justify-content: center;
	gap: 20px;
	margin-bottom: 20px;
}

.details-header-container {
	margin-top: 50px;

	.project-details-header {
		font-weight: 400;
		font-size: 1.8rem;
	}

	.project-sub-header {
		font-size: 1.2rem;
	}
}

.project-details-card {
	background-color: var(--card-color);
	border-radius: 20px;
	padding: 20px;
	position: relative;
	overflow: hidden;
	min-height: 250px;
	border: 1px solid var(--border-color);
	z-index: 99;

	&.project-details-one {
		flex: 1;
	}

	&.project-details-two {
		flex: 2;
	}
}

.project-details-image {
	// margin-top: 20px;
	width: fit-content;
	margin: 40px auto 0;
	display: flex;
	flex-direction: column;

	img {
		// margin: 20px 0;
		width: 100%;
		border-radius: 20px;
		max-width: 1000px;
		object-fit: cover;
	}
}

@media only screen and (max-width: 1000px) {
	.projects {
		// align-items: center;
		justify-content: center;
	}
	.project {
		flex: unset;
	}
}

@media only screen and (max-width: 750px) {
	.project-container {
		padding: 20px 10px;
	}
	.project-details {
		flex-direction: column;
	}

	.project-details-card {
		&.project-details-one {
			flex: unset;
		}

		&.project-details-two {
			flex: unset;
		}
	}
}

@media only screen and (max-width: 450px) {
	.project {
		.project-img {
			object-fit: contain;
		}
	}
}
