:root {
	--bg-color: #ffffff;
	--text-color: #00000099;
	--bold-text-color: #000000de;
	--grey-text-color: #00000061;
	--arrow-color: invert(0%) sepia(90%) saturate(7460%) hue-rotate(346deg)
		brightness(89%) contrast(111%);
	--navbar-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	/* --accent-color: #007bff; */
}

@media (prefers-color-scheme: dark) {
	:root {
		--bg-color: #121212;
		--text-color: #ffffffb2;
		--accent-color: #4dabf7;
		--bold-text-color: #ffffff;
		--grey-text-color: #ffffff80;
		--arrow-color: invert(100%) sepia(99%) saturate(51%) hue-rotate(77deg)
			brightness(109%) contrast(99%);
		--navbar-shadow: rgba(0, 0, 0, 0.6) 0px 8px 24px;
	}
}

* {
	box-sizing: border-box;
	font-family: "DM Sans", sans-serif;
	/* outline: 2px solid green; */
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: var(--bg-color);
	color: var(--text-color);
	margin: 0;
	padding: 0;
	/* min-height: 200vh; */
}

main {
	max-width: 800px;
	margin: 80px auto 10px;
}

main.filled {
	min-height: 90dvh;
}

p {
	font-size: 1.068rem;
	line-height: 24px;
}

p.bold {
	font-weight: 500;
	color: var(--bold-text-color);
	font-size: 1.14rem;
}

.img-container {
	width: 80px;
	height: 80px;
	margin-bottom: 0;
}

.img-container img {
	width: 100%;
	border-radius: 400px;
}

.main-header {
	font-weight: 500;
	font-size: 1.5rem;
	margin: 16px 0;
	color: var(--bold-text-color);
}

.underline-link {
	color: var(--bold-text-color);
	text-decoration: none;
	font-weight: 500;
	font-size: 0.938;
	display: flex;
	align-items: center;
	margin: 0;
	position: relative;
	width: fit-content;
}

.underline-link::after {
	content: "";
	position: absolute;
	bottom: -3px;
	left: 0;
	width: 0;
	height: 2px;
	background-color: var(--bold-text-color);
	transition: width 0.15s ease-in-out;
}

.underline-link:hover::after {
	width: 100%;
}

.underline-link img {
	width: 18px;
	height: 18px;
	margin-left: 5px;
	filter: var(--arrow-color);
}

.underline-link.p2 img {
	rotate: 45deg;
}

.header-flex {
	display: flex;
	gap: 20px;
	flex-wrap: wrap;
}

.spacer {
	height: 100px;
}

.project-card {
	margin: 30px 0;
	display: flex;
	align-items: center;
	gap: 15px;
}

.timeline {
	margin: 0;
	line-height: 0.75rem;
	color: var(--grey-text-color);
	line-height: unset;
}

.project-link {
	color: var(--bold-text-color);
	text-decoration: none;
	font-weight: 500;
	font-size: 1.14rem;
	margin: 8px 0;
	display: block;
}

.project-card .underline-link {
	margin-top: 8px;
}

.project-card-text {
	flex: 0 0 60%;
	margin: 0;
}

.project-card-image-container {
	flex: 0 0 40%;
	height: 175px;
	padding: 5px;
	background-color: #8080800d;
}

.project-card-image-container img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* ABOUT */
.about-spacer {
	height: 30px;
}

@media (max-width: 820px) {
	.spacer {
		height: 60px;
	}

	main {
		margin: 80px 10px 10px;
	}

	.project-card {
		flex-direction: column-reverse;
		margin: 60px 0;
	}

	.project-card-image-container,
	.project-card-text {
		flex: 0 0 100%;
	}
}
